@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./ImgPrepare.css');

input {
  @apply border;
  @apply border-solid;
  @apply border-gray-300;
  /* @apply rounded-md; */
  @apply px-4;
  @apply py-2;
}

.border-hairline {
  @apply border border-black border-opacity-10;
}

.button {
  @apply inline-block px-5 py-3 text-white bg-black rounded-r-md;
}

.image-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.size-14 {
  width: 3.5rem;
  height: 3.5rem;
}
.animate-down {
  animation-delay: 0.15s;
  animation-fill-mode: forwards;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.full-opacity {
  opacity: 0 !important;
}

.arrow-icon {
  transition: transform 0.5s;
}

.rotating {
  transform: rotate(-180deg);
}
.horizon::-webkit-scrollbar {
  display: none;
}
.credits {
  font-size: 12px;
  color: #888;
  line-height: 41px;
}
.min-height {
  min-height: 478px;
}
.crown {
  top: -28px;
  right: -28px;
  transform: rotate(35deg);
  z-index: 6;
  user-select: none;
}
